
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}


@font-face {
    font-family: Oskiwbold1;
    src: url('/fonts/oskiwest/oskiwbold1.tff') format("truetype");
}

@font-face {
    font-family: Oskiwbolditalic1;
    src: url('/fonts/oskiwest/oskiwbolditalic1.tff') format("truetype");
}

@font-face {
    font-family: Oskiwitalic;
    src: url('/fonts/oskiwest/oskiwitalic1.tff') format("truetype");
}
